<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="/../assets/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                      
                        <li class="submenu">
                            <a href="javascript:;">Categories</a>
                            <ul>
                                <li><a href="about.html">Men's</a></li>
                                <li><a href="products.html">Women's</a></li>
                                <li><a href="single-product.html">Kid's</a></li>
                                <li><a href="contact.html">Accessories</a> </li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#explore">Log in</a></li>
                        <li class="scroll-to-section"><a href="#explore">Sign Up</a></li>
                        <li class="scroll-to-section"> <i class="fa fa-cart-arrow-down" aria-hidden="true"></i></li>


                       
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>