
.card{
    margin-top: 10px;
    border: none;
    width: 800px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(232, 239, 239);
    border-radius: 10px;
    
}

label{
    color: #076585;
}

.head{
    font-size: 50px;
    color: #076585;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.left , .right{
    width: 45%;
}

.wrapper{
    gap: 40px;
}
.error-message{
    color: red;
}