<div class=" mainDiv" style="display: inline-block;">
    <div style="margin-top:10px;">
        <h1 >Your Favorite List</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" id="Table"
            style="display: inline-table;">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th style="text-align: center; font-weight: bold; font-size: 20px;" mat-header-cell *matHeaderCellDef>Name</th>
                <td style="text-align: center;"  mat-cell *matCellDef="let element" id={{element._id}} (click)="getRecord($event)">{{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th style="text-align: center; font-weight: bold; font-size: 20px;" mat-header-cell *matHeaderCellDef>Action</th>
                <td style="text-align: center;"  mat-cell *matCellDef="let element"  >
                    <button mdbBtn type="button" id={{element._id}} color="mdb-color"   (click)="getRecord($event)">Details</button>
   
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>