<p>
    <mat-toolbar>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected [routerLink]="'/products/p'" [queryParams]="{category: '62365f0d0e8f88a7d38d88d0'}">Men's </mat-chip>
        <mat-chip color="accent" selected routerLink="/products/p" [queryParams]="{category: '62365f170e8f88a7d38d88d2'}">Women's</mat-chip>
        <mat-chip color="warning" selected routerLink="/products/p" [queryParams]="{category: '62365f1d0e8f88a7d38d88d4'}">Kid's</mat-chip>
        <mat-chip color="warn" selected routerLink="/products/p"[queryParams]="{category: '62365f270e8f88a7d38d88d6'}">Accessories</mat-chip>
      </mat-chip-list>
    </mat-toolbar>
  </p>
  