<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content" style="background-image: url('..{{collectionImage}}')!important; background-size: cover;
                background-repeat: no-repeat;">
                    <h2>{{collectionName}} Products</h2>
                    <span>Be unique &amp;  shine Like a Diamond</span>
                </div>
            </div>
        </div>
    </div>
</div>
