<div class=" mainDiv" style="display: inline-block;">
    <div style="margin-top:10px;">
        <h1 >Your Orders</h1>
        <table class="table table-striped" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" id="Table" style="display: inline-table;">

            <ng-container matColumnDef="orderProductNames">
                <th style="text-align: center; font-weight: bold; font-size: 20px;" mat-header-cell *matHeaderCellDef>Order Product Names</th>
                <td style="text-align: center;" mat-cell *matCellDef="let order">{{order.orderProductNames}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th style="text-align: center; font-weight: bold; font-size: 20px;" mat-header-cell *matHeaderCellDef>Status</th>
                <td style="text-align: center;" mat-cell *matCellDef="let order">{{order.status}}</td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
                <th style="text-align: center; font-weight: bold; font-size: 20px;" mat-header-cell *matHeaderCellDef>Total Price </th>
                <td style="text-align: center;" mat-cell *matCellDef="let order">{{order.totalPrice}}</td>
            </ng-container>

          
            <ng-container matColumnDef="dateOrdered">
                <th style="text-align: center; font-weight: bold; font-size: 20px;" mat-header-cell *matHeaderCellDef>Date Ordered</th>
                <td style="text-align: center;" mat-cell *matCellDef="let order">{{order.dateOrdered}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>