<div  class="card">
  <app-spinner *ngIf="loading" style="    position: absolute;
  z-index: 1000;
  margin-left: 180px;
  bottom: 45px;"></app-spinner>
  <form [formGroup]="login" *ngIf="!loading">
    <h1 class="head"><i class="fa fa-user" aria-hidden="true"></i>  Sign In</h1>

    <span style="color: red;"> {{error}}</span>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>

    <button type="submit" style="width: 100%;" class="btn btn-primary" (click)="loginSubmit()"
      [disabled]="!login.valid">log in</button>
      <a routerLink="/auth/signup" style="color: #076585;width: 200px;margin: auto; text-align: center; font-weight: bold;"> Sign up Here !</a>
  </form>
</div>
