.products{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

img{
    width: 300px;
    height: 280px;
}
#prodPag /deep/ .ngx-pagination .current{
    background-color: #2a2a2a !important;
}
#prodPag /deep/ .ngx-pagination {
    font-weight: bold !important;
}