<section class="section" id="men">
     <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Men's Latest</h2>
                    <span>Details to details is what makes Hedoom different from the other places.</span>
                </div>
            </div>
        </div>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item products">
                        <div class="item col-lg-3" >
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a [routerLink]='["/products","624b597ac37926877b64ebda"]' [queryParams]='{category: "62365f0d0e8f88a7d38d88d0"}'><i class="fa fa-eye"></i></a></li>
                                        <!-- <li><a href=""><i class="fa fa-star"></i></a></li> -->
                                        <!-- <li><a href=""><i class="fa fa-shopping-cart"></i></a></li> -->
                                    </ul>
                                </div>
                                <img src="/../assets/images/men-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Classic Spring</h4>
                                <span>$120.00</span>
                              
                            </div>
                        </div>
                        <div class="item ">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <!-- <li><a routerLink="/products/623a2009de35b0bc3033cf1d?category=62365f0d0e8f88a7d38d88d0"><i class="fa fa-eye"></i></a></li> -->
                                        
                                        <li><a [routerLink]='["/products","623a200ade35b0bc3033cf1f"]' [queryParams]='{category: "62365f0d0e8f88a7d38d88d0"}'><i class="fa fa-eye"></i></a></li>
                                        <!-- <li><a href=""><i class="fa fa-shopping-cart"></i></a></li> -->
                                    </ul>
                                </div>
                                <img src="assets/images/men-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Air Force 1 X</h4>
                                <span>$90.00</span>
                               
                            </div>
                        </div>
                        <div class="item ">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a  [routerLink]='["/products","624b5fbbeff158e734aa6425"]' [queryParams]='{category: "62365f0d0e8f88a7d38d88d0"}'><i class="fa fa-eye"></i></a></li>
                                        <!-- <li><a href=""><i class="fa fa-star"></i></a></li> -->
                                        <!-- <li><a href=""><i class="fa fa-shopping-cart"></i></a></li> -->
                                    </ul>
                                </div>
                                <img src="assets/images/men-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Love Nana ‘20</h4>
                                <span>$150.00</span>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>