
<div class="container">
    <div class="title">
        <h2>Product Order Form</h2>
    </div>
    <div>
        <button class=" btn btn-primary" style="width: 100%; height: 50px;" (click)="removeCart()"> Remove Cart ?</button>

    </div>
    <div class="d-flex">
        
        <form action="" method="" [formGroup] = "ProductOrderForm">
            <label>
                <span class="fname">Name <span class="required">*</span></span>
                <input type="text" name="name" formControlName="name">
                <div class="error-message" *ngIf="
                ProductOrderForm.get('name')?.invalid && ProductOrderForm.get('name')?.touched
                ">
                <span class = "error-message-span"*ngIf="ProductOrderForm.get('name')?.hasError('required')">name is required</span>
                <span class = "error-message-span" *ngIf="ProductOrderForm.get('name')?.hasError('pattern')">Please enter valid name</span>
                
            </div>
            </label>
            <label>
                <span>Email Address <span class="required">*</span></span>
                <input type="email" name="email" formControlName="email">
                
                <div class="error-message" *ngIf="
                ProductOrderForm.get('email')?.invalid && ProductOrderForm.get('email')?.touched
                ">
                    <span  class = "error-message-span" *ngIf="ProductOrderForm.get('email')?.hasError('required')">Email is required</span>
                    <span class = "error-message-span" *ngIf="ProductOrderForm.get('email')?.hasError('pattern')">Please enter valid email</span>
                </div>
            </label>
            <label>
                <span>Phone <span class="required">*</span></span>
                <input type="text" name="phone" formControlName="phone">
                <div class="error-message" *ngIf="
                ProductOrderForm.get('phone')?.invalid && ProductOrderForm.get('phone')?.touched">
                    <span  class = "error-message-span"  *ngIf="ProductOrderForm.get('phone')?.hasError('required')">phone is required</span>
                    <span class = "error-message-span" *ngIf="ProductOrderForm.get('phone')?.hasError('pattern')">Please enter valid phone</span>
                </div>
        

            </label>

            <label>
                <span>Country <span class="required">*</span></span>
                <select name="selection" formControlName="Country">
                    <option value="">Choose Country</option>
                    <option *ngFor="let country of countries" [ngValue]="country">
                        {{ country }}
                    </option>
                </select>
                <div class="error-message" *ngIf="
                ProductOrderForm.get('Country')?.invalid && ProductOrderForm.get('Country')?.touched">
                    <span  class = "error-message-span"  *ngIf="ProductOrderForm.get('Country')?.hasError('required')">country is required</span>
                </div>
            </label>
            <label>
                <span>shipping Address <span class="required">*</span></span>
                <input type="text" name="Address1" formControlName="Address1" placeholder="Enter your address 1"
                    required>
                    <div class="error-message" *ngIf="
                    ProductOrderForm.get('Address1')?.invalid && ProductOrderForm.get('Address1')?.touched">
                        <span  class = "error-message-span"  *ngIf="ProductOrderForm.get('Address1')?.hasError('required')">Address1 is required</span>
                    </div>
            </label>
            <label>
                <span>&nbsp;</span>
                <input type="text" name="Address2" formControlName="Address2" placeholder="Enter your address 2">
                <div class="error-message" *ngIf="
                ProductOrderForm.get('Address2')?.invalid && ProductOrderForm.get('Address2')?.touched">
                    <span  class = "error-message-span"  *ngIf="ProductOrderForm.get('Address2')?.hasError('required')">Address2 is required</span>
                </div>
            </label>
            <label>
                <span>Town / City <span class="required">*</span></span>
                <input type="text" name="city" formControlName="city">
                <div class="error-message" *ngIf="
                ProductOrderForm.get('city')?.invalid && ProductOrderForm.get('city')?.touched">
                    <span  class = "error-message-span"  *ngIf="ProductOrderForm.get('city')?.hasError('required')">city is required</span>
                </div>
            </label>

            <label>
                <span>Postcode / ZIP <span class="required">*</span></span>
                <input type="text" name="ZIP" formControlName="ZIP">
                <div class="error-message" *ngIf="
                ProductOrderForm.get('ZIP')?.invalid && ProductOrderForm.get('ZIP')?.touched">
                    <span  class = "error-message-span"  *ngIf="ProductOrderForm.get('ZIP')?.hasError('required')">ZIP code is required</span>

                </div>
            </label>


        </form>

     
        <div class="Yorder">
            <table>
                <tr>
                    <th colspan="2">Your order</th>
                </tr>
                <ng-container *ngFor="let item of cartItems">

                    <tr>
                        <td>Name : {{item.name}}</td>
                        <td>Price : ${{item.price}}</td>
                        <td>quantity : {{item.quantity}}</td>
                    </tr>
                </ng-container>
                <tr>
                    <td>Total Price</td>
                    <td>${{totalPrice }}</td>
                </tr>

            </table><br>
            <button  type="button" [disabled]="!ProductOrderForm.valid || !ProductOrderForm.dirty"  (click) = sumbitOrder()>Place Order</button>
        </div><!-- Yorder -->

    </div>
</div>